fastapi[standard]
loguru
pydantic[email]
pydantic_settings
greenlet
asyncpg
sqlalchemy
psycopg2-binary
apscheduler
passlib
PyJWT
aiofiles
aiosqlite
requests
numpy==1.26.4
pillow==10.4.0
opencv-python==4.10.0.84
